


body{
 background-color: lightblue;
} 
img{
  
     margin-left: 10%; 
     margin-right: 10%;
}
iframe{
margin-left: 30%;
margin-top: 10%;
margin-bottom: 10%;

}
header,footer {
    background-color: antiquewhite;
    display: block;
    padding:  1px 1px 1px 1px;
  }
  h1{
    text-align: center;
  }

.listHorizontal{
    display:flex ;
    justify-content: space-evenly;
}